.add-question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

h2,
h3 {
  margin: 10px 0;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="file"],
input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button,
.back-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.back-button {
  background-color: #6c757d;
}

.submit-button:hover,
.back-button:hover {
  background-color: #0056b3;
}

.back-button:hover {
  background-color: #5a6268;
}
.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.image-preview {
  margin-top: 10px;
  width: 300px; /* Fixed width */
  height: 300px; /* Fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
}
