/* src/components/styles/AuthPage.css */
/* src/components/styles/AuthPage.css */
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  /* display: inline-block; */
  /* Removed max-width */
  padding: 40px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
  


.auth-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.auth-button {
  /* display: inline-block; */
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #0056b3;
}
h1{
  text-align: center;
}